{% extends '@App/administration/base.html.twig' %}

{% set administration_entity_show = 'administration_user_show' %}

{% block title %}{{ 'administration.user.edit.title %name%'|trans({'%name%': user.username})}} · {{ parent() }}{% endblock title %}

{% block headline %}{% endblock %}

{% block content_settings %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">{{ 'administration.user.edit.title %name%'|trans({'%name%': user.username})}}</h1>
        </div>
        <div class="panel-body">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input class="btn btn-primary" type="submit" value="{{ 'administration.actions.edit' | trans }}" />
                </div>
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock content_settings%}

{% block content_action %}
    <h3>{{ 'administration.actions' | trans }}</h3>
    <div class="text-center" id="administration-actions">
        <div class="btn-group-vertical">
            <a class="btn-mini btn btn-default" href="{{ path('administration_user_index') }}">
                <span class="fa fa-group"></span>&nbsp;{{ 'administration.actions.back.list' | trans }}
            </a>
            <a class="btn-mini btn btn-default" href="{{ path('administration_user_show', { 'id': user.id }) }}">
                <span class="fa fa-eye"></span>&nbsp;{{ 'administration.actions.show' | trans }}
            </a>
            {% if isDeletable %}
                <a class="btn btn-danger btn-mini confirm-delete" data-toggle="modal" data-target="#confirm-delete" data-form="form" href="#">
                    <span class="fa fa-trash-o"></span>&nbsp;{{ 'administration.actions.delete' | trans }}
                </a>
            {% else %}
                <span class="btn btn-danger disabled">
                    <span class="fa fa-trash-o"></span>&nbsp;{{ 'administration.actions.delete' | trans }}
                </span>
            {% endif %}
        </div>
    </div>
{% endblock content_action %}
