{% extends '@App/administration/base.html.twig' %}

{% set administration_entity_show = 'administration_status_show' %}

{% block title %}
    {{ 'administration.user.show.title %name%'|trans({'%name%': user.username})}} · {{ parent() }}
{% endblock title %}

{% block headline %}
    {{ 'administration.user.show.title %name%'|trans({'%name%': user.username})}}
{% endblock headline %}

{% block content_settings %}
    <div class="panel panel-primary" id="administration-global-information">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'administration.global-information' | trans }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-10">
                    <dl class="dl-horizontal">
                        <dt class="lead">{{ 'form.user.field.username'| trans }}</dt>
                        <dd class="lead">{{ user.label }}</dd>
                        <dt>{{ 'form.user.field.mail'| trans }}</dt>
                        <dd>{{ user.mail }}</dd>
                        <dt>{{ 'form.user.field.roles'| trans }}</dt>
                        <dd>{{ user.roles | roles }}</dd>
                    </dl>
                </div>
                <div class="col-sm-2 text-right">
                    <img src="{{ user.mail | gravatarFilter }}" class="img-rounded"/>
                </div>
            </div>
        </div>
    </div>
{% endblock content_settings %}

{% block content_action %}
    <h3>{{ 'administration.actions' | trans }}</h3>

    <div class="text-center" id="administration-actions">
        <div class="btn-group-vertical">
            <a class="btn-mini btn btn-default" href="{{ path('administration_user_index') }}"
               data-toggle="tooltip" data-placement="left" title="{{ 'administration.user.action.list.title' | trans }}">
                <span class="fa fa-group"></span>&nbsp;{{ 'administration.actions.back.list' | trans }}
            </a>
            <a class="btn-mini btn btn-default" href="{{ path('administration_user_edit', { 'id': user.id }) }}"
               data-toggle="tooltip" data-placement="left" title="{{ 'administration.user.action.edit.title' | trans }}">
                <span class="fa fa-pencil"></span>&nbsp;{{ 'administration.actions.edit' | trans }}
            </a>
            {% if isDeletable %}
                <button class="btn btn-danger btn-mini confirm-delete" data-toggle="modal" data-target="#confirm-delete"
                        data-form="form" data-placement="left" title="{{ 'administration.user.action.delete.title' | trans }}">
                    <span class="fa fa-trash-o"></span>&nbsp;{{ 'administration.actions.delete' | trans }}
                </button>
            {% else %}
                <span class="btn btn-danger disabled">
                    <span class="fa fa-trash-o"></span>&nbsp;{{ 'administration.actions.delete' | trans }}
                </span>
            {% endif %}
        </div>
    </div>
{% endblock content_action %}
