{% extends '@App/default/base.html.twig' %}

{% import "@App/macro.html.twig" as app_macro %}

{% block title %}{{ 'default.service.list.title'| trans }} · {{ parent() }}{% endblock title %}

{% block headline %}
    <span class="fa fa-fw fa-building-o"></span>
    {{ 'default.service.list.title'| trans }}
{% endblock %}

{% set direction = pagination.getDirection() %}

{% block content_content %}
    <table class="table">
        <thead>
        <tr>
            <th id="service-color">&nbsp;&nbsp;<span class="fa fa-building-o"></span></th>
            <th id="service-label">
                {% if pagination.isSorted('service.label') %}
                    <span class="fa fa-sort-alpha-{{ direction }}"></span>
                {% else %}
                    <span class="fa fa-sitemap"></span>
                {% endif %}
                {{ knp_pagination_sortable(pagination, 'form.service.field.label' | trans, 'service.label')}}
            </th>
            <th id="service-machines"><span class="fa fa-sitemap"></span> {{ 'default.service.machines' | trans }}</th>
            <th id="service-actions">{{ 'default.service.actions' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for row in pagination %}
            {% set service = row[0] %}
            <tr class="row-{{ loop.index }}">
                <td headers="service-label" class="th-icon">{{ service.label }}</td>
                <td headers="service-machines" class="th-icon">{{ row['machinesCount'] | localizednumber }}</td>
                <td headers="service-actions">
                    <div class="btn-group-xs btn-group">
                        <a class="btn btn-default" href="{{ path('default_service_show', { 'id': service.id }) }}">
                            <span class="fa fa-eye"></span>
                            <span class="sr-only">{{ 'default.action.show' | trans }}</span>
                        </a>
                            <a class="btn btn-default" href="{{ path('default_service_edit', { 'id': service.id }) }}">
                                <span class="fa fa-edit"></span>
                                <span class="sr-only">{{ 'default.action.edit' | trans }}</span>
                            </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-right">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock content_content %}

{% block content_action %}
    {{ app_macro.panel_admin('building-o', 'default_service_index', pagination.totalItemCount, 'default.services') }}

        <div class="text-center">
            <a class="btn btn-default" href="{{ path('default_service_new') }}" data-toggle="tooltip" data-placement="left"
               title="{{ 'default.service.create.title' | trans }}">
                <span class="fa fa-building-o"></span>
                {{ 'default.service.create' | trans }}
            </a>
        </div>
{% endblock content_action %}
