{% extends '@App/base.html.twig' %}

{% import "@App/macro.html.twig" as app_macro %}

{% block page_header %}{% endblock %}

{% block content_content %}
    <div class="jumbotron">
        <h1>
            <span class="fa fa-sitemap"></span>&nbsp;<span class="text-primary">{{ app_title }}</span>
            <small>{{ app_subtitle }}</small>
        </h1>
        <p>{{ 'txt.app.description' | trans }}</p>
        <div class="row">
            <div class="col-md-offset-2 col-md-10 col-xs-12">
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-fw fa-sitemap"></i>
                        {{ 'default.network.managment' | trans }}
                    </li>
                    <li>
                        <i class="fa fa-fw fa-desktop"></i>
                        {{ 'default.machine.managment' | trans }}
                    </li>
                    <li>
                        <i class="fa fa-fw fa-indent"></i>
                        {{ 'default.ip.managment' | trans }}
                    </li>
                    <li>
                        <i class="fa fa-fw fa-users"></i>
                        {{ 'default.user.managment' | trans }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="site-footer">
        {{ 'txt.copyright %year% %owner%' | trans({
            '%owner%' : app_owner,
            '%year%': date('now')|date('Y')
        }) }}
        <em>{{ 'txt.all-rights-reserved' | trans }}</em>
    </div>
{% endblock content_content %}

{% block content_sidebar %}

    {% if is_granted("ROLE_READ_NETWORK") %}
        {{ app_macro.panel_admin('sitemap', 'default_network_index', nNetworks, 'default.networks') }}
    {% endif %}

    {% if is_granted("ROLE_READ_MACHINE") %}
        {{ app_macro.panel_admin('desktop', 'default_machine_index', nMachines, 'default.machines') }}
    {% endif %}

    {% if is_granted("ROLE_READ_IP") %}
        {{ app_macro.panel_admin('indent', '', nIps, 'default.ips') }}
    {% endif %}

{% endblock content_sidebar %}
