{% extends 'default/baseDeleted.html.twig' %}

{% import "macro.html.twig" as app_macro %}

{% set default_entity_show = 'default_deleted_site_show' %}

{% block title %}
    {{ 'default.site.deleted.show.title %name%'|trans({'%name%': log.data.label})}} · {{ parent() }}
{% endblock title %}

{% block headline %}
    {{ 'default.site.deleted.show.title %name%'|trans({'%name%': log.data.label})}}
{% endblock headline %}



{% block content_action %}
    <h3>{{ 'administration.actions' | trans }}</h3>

    <div class="text-center" id="default-actions">
        <div class="btn-group-vertical">
            <a class="btn-mini btn btn-default" href="{{ path('default_deleted_site_index') }}"
               data-placement="left" data-toggle="tooltip" title="{{ 'default.site.deleted.title.back' | trans }}">
                <span class="fa fa-building-o"></span>&nbsp;{{ 'default.site.deleted' | trans }}
            </a>
        </div>
    </div>
{% endblock content_action %}
