{% extends 'default/base.html.twig' %}

{% import "macro.html.twig" as app_macro %}

{% block title %}{{ 'default.machine.action.list'|trans }} · {{ parent() }}{% endblock title %}

{% block headline %}
    <span class="fa fa-fw fa-desktop"></span>
    {{ 'default.machine.action.list'|trans }}
{% endblock %}

{% set direction = pagination.getDirection() %}

{% block content_content %}
    <table class="table">
        <thead>
        <tr>
            <th id="machine-color">&nbsp;&nbsp;<span class="fa fa-machine"></span></th>
            <th id="machine-label">
                {% if pagination.isSorted('machine.label') %}
                    <span class="fa fa-sort-alpha-{{ direction }}"></span>
                {% else %}
                    <span class="fa fa-desktop"></span> 
                {% endif %}
                {{ knp_pagination_sortable(pagination, 'form.machine.field.label' | trans, 'machine.label')}}
            </th>
            <th id="machine-address">
                {% if pagination.isSorted('machine.interface') %}
                    <span class="fa fa-sort-numeric-{{ direction }}"></span>
                {% endif %}
                {{ knp_pagination_sortable(pagination, 'form.machine.field.interface' | trans, 'machine.interface')}}
            </th>
            <th id="machine-ips"><span class="fa fa-indent"></span> {{ 'default.machine.nb-ip' | trans }}</th>
            <!--<th id="machine-tags"><span class="fa fa-tags"></span> {{ 'form.machine.field.tags' | trans }}</th>!-->
            <th id="machine-actions">{{ 'default.machine.actions' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for row in pagination %}
            {% set machine = row[0] %}
            <tr class="row-{{ loop.index }}">
                <td headers="machine-color" rowspan="2"><span class="fa fa-desktop"></span></td>
                <td headers="machine-label" class="th-icon">{{ machine.label }}</td>
                <td headers="machine-interface" class="th-icon">{{ machine.interface }}</td>
                <td headers="machine-ips" class="th-icon">{{ row['ipsCount'] | localizednumber }}</td>
                <td headers="machine-actions" rowspan="2">
                    <div class="btn-group-xs btn-group">
                        <a class="btn btn-default" href="{{ path('default_machine_show', { 'id': machine.id }) }}">
                            <span class="fa fa-eye"></span>
                            <span class="sr-only">{{ 'default.action.show' | trans }}</span>
                        </a>
                        {% if can_edit(machine) %}
                        <a class="btn btn-default" href="{{ path('default_machine_edit', { 'id': machine.id }) }}">
                            <span class="fa fa-edit"></span>
                            <span class="sr-only">{{ 'default.action.edit' | trans }}</span>
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
              <td colspan="2">
                {{ machine.services | services }}
              </td>
              <td headers="machine-tags" class="th-icon"><span class="fa fa-tags">{{ 'form.machine.field.tags' | trans }}{{ app_macro.tags(row['tagsConcat'] | split(',')) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-right">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock content_content %}

{% block content_action %}
    {{ app_macro.panel_admin('desktop', '', pagination.totalItemCount, 'default.machines') }}
    {% if can_create_machine() or can_view_deleted() %}
        <div class="text-center">
        <div class="btn-group-vertical">
            {% if can_create_machine() %}
                <a class="btn btn-default" href="{{ path('default_machine_new') }}" data-toggle="tooltip" data-placement="left"
                   title="{{ 'default.machine.action.create.title' | trans }}">
                    <span class="fa fa-desktop"></span>
                    {{ 'default.machine.create' | trans }}
                </a>
            {% endif %}
            {% if can_view_deleted() %}
                <a class="btn btn-default" href="{{ path('default_deleted_machine_index') }}" data-toggle="tooltip" data-placement="left"
                   title="{{ 'default.machine.deleted.title' | trans }}">
                    <span class="fa fa-desktop"></span>
                    {{ 'default.machine.deleted' | trans }}
                </a>
            {% endif %}
        </div>
        </div>
    {% endif %}
{% endblock content_action %}
