{% extends '@App/default/base.html.twig' %}

{% import "@App/macro.html.twig" as app_macro %}

{% set default_entity_show = 'default_machine_show' %}

{% block title %}
    {{ 'default.machine.show.title %name%'|trans({'%name%': machine.label})}} · {{ parent() }}
{% endblock title %}

{% block headline %}
    {{ 'default.machine.show.title %name%'|trans({'%name%': machine.label})}}
{% endblock headline %}

{% block content_settings %}
    <div class="panel panel-primary" id="administration-global-information">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'administration.global-information' | trans }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-10">
                    {{ app_macro.dl_machine(machine, false) }}
                </div>
                <div class="col-sm-2 text-right">
                    <span class="fa fa-desktop fa-4x"></span>
                </div>
            </div>
            {% if is_granted("ROLE_MANAGE_IP") or is_granted("ROLE_MANAGE_MACHINE") %}
            <div class="btn-group-justified">
                {% if is_granted("ROLE_MANAGE_IP") %}
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-fw fa-plus"></span>
                        {{ 'default.machine.new-ip' | trans }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for network in networks %}
                            <li><a href="{{ path ('default_machine_new_ip', {'network_id': network.id, 'machine_id': machine.id}) }}">{{ 'default.machine.new-ip.for-network %network%' | trans({'%network%': network.label }) }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if is_granted("ROLE_MANAGE_IP") and is_granted("ROLE_MANAGE_MACHINE") %}
                <!-- Second button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-fw fa-link"></span>
                        {{ 'default.machine.link-ip' | trans }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for network in networks %}
                            <li><a href="{{ path ('default_machine_link', {'network_id': network.id, 'machine_id': machine.id}) }}">{{ 'default.machine.link-ip.for-network %network%' | trans({'%network%': network.label }) }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% if machine.ips.count %}
            <table class="table">
                <thead>
                <tr>
                    <th id="machine-ip-ip">
                        <span class="fa fa-indent fa-fw"></span>
                        {{ 'form.ip.field.ip' | trans }}
                    </th>
                    <th id="machine-ip-network-label">
                        <span class="fa fa-sitemap fa-fw"></span>
                        {{ 'form.ip.field.network' | trans }}
                    </th>
                    <th id="machine-ip-creator">
                        <span class="fa fa-user fa-fw"></span>
                        {{ 'form.ip.field.creator' | trans }}
                    </th>
                    {% if is_granted("ROLE_MANAGE_IP") or is_granted("ROLE_MANAGE_MACHINE") %}
                        <th id="machine-ip-actions">
                            {{ 'default.network.actions' | trans }}
                        </th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for ip in machine.ips %}
                    <tr>
                        <td headers="machine-ip-ip" class="th-icon">
                            <a href="{{ path('default_ip_show', {'id': ip.id}) }}" title="{{ ip.ip | ip }}">
                                {{ ip.ip | ip }}
                            </a>
                        </td>
                        <td headers="machine-ip-network-label" class="th-icon">
                            <a href="{{ path('default_network_show', {'id': ip.network.id}) }}" title="{{ ip.network.label }}">
                                {{ ip.network.label }}
                            </a>
                        </td>
                        <td headers="machine-ip-machine-creator" class="th-icon">
                            {{ ip.creator.label }}
                        </td>
                        {% if is_granted("ROLE_MANAGE_IP") or is_granted("ROLE_MANAGE_MACHINE") %}
                            <td headers="machine-ip-actions">
                                <div class="btn-group btn-group-sm" role="group" aria-label="{{ 'default.ip.manage %ip%' | trans({'%ip%': ip.ip | ip}) }}">
                                    {% if is_granted("ROLE_MANAGE_IP") %}
                                    <a href="{{ path ('default_ip_edit', {'id': ip.id}) }}" data-toggle="tooltip" title="{{ 'default.ip.action.edit.title' | trans }}" class="btn btn-info">
                                        <span class="fa fa-pencil"></span>
                                        <span class="sr-only">{{ 'default.ip.action.edit' | trans }}</span>
                                    </a>
                                    {% endif %}
                                    {% if ip.machine %}
                                        {% if is_granted("ROLE_MANAGE_IP") and is_granted("ROLE_MANAGE_MACHINE") %}
                                            <a href="{{ path ('default_machine_unlink', {'id': ip.id}) }}" data-toggle="tooltip" title="{{ 'default.ip.action.dissociate.title' | trans }}" class="btn btn-warning ">
                                                <span class="fa fa-unlink"></span>
                                                <span class="sr-only">{{ 'default.ip.action.dissociate' | trans }}</span>
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        {% if is_granted("ROLE_MANAGE_IP") and is_granted("ROLE_MANAGE_MACHINE") %}
                                            <button href="#" data-toggle="tooltip" title="{{ 'default.ip.action.associate.title' | trans }}" class="btn btn-info">
                                                <span class="fa fa-link"></span>
                                                <span class="sr-only">{{ 'default.ip.action.associate' | trans }}</span>
                                            </button>
                                        {% endif %}
                                        {% if is_granted("ROLE_MANAGE_IP") %}
                                            <button href="#" data-toggle="tooltip" title="{{ 'default.ip.action.create.title' | trans }}" class="btn btn-info">
                                                <span class="fa fa-plus"></span>
                                                <span class="sr-only">{{ 'default.ip.action.create' | trans }}</span>
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                    {% if is_granted("ROLE_MANAGE_IP") %}
                                        <a href="{{ path ('default_machine_delete_ip', {'id': ip.id}) }}" data-toggle="tooltip" title="{{ 'default.ip.action.delete.title' | trans }}" class="btn btn-danger">
                                            <span class="fa fa-trash-o"></span>
                                            <span class="sr-only">{{ 'default.ip.action.delete' | trans }}</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content_settings %}

{% block content_action %}
    <h3>{{ 'administration.actions' | trans }}</h3>

    <div class="text-center" id="default-actions">
        <div class="btn-group-vertical">
            <a class="btn-mini btn btn-default" href="{{ path('default_machine_index') }}" data-placement="left"
               data-toggle="tooltip" title="{{ 'default.machine.action.list.title' | trans }}">
                <span class="fa fa-desktop"></span>&nbsp;{{ 'default.machine.action.list' | trans }}
            </a>
            {% if is_granted('ROLE_MANAGE_MACHINE') %}
                <a class="btn-mini btn btn-default" href="{{ path('default_machine_edit', { 'id': machine.id }) }}"
                   data-toggle="tooltip" title="{{ 'default.machine.action.edit.title' | trans }}" data-placement="left">
                    <span class="fa fa-pencil"></span>&nbsp;{{ 'administration.actions.edit' | trans }}
                </a>
                {% if isDeletable %}
                    <button class="btn btn-danger btn-mini confirm-delete" data-toggle="modal" data-target="#confirm-delete"
                       data-form="form" data-placement="left" title="{{ 'default.machine.action.delete.title' | trans }}">
                        <span class="fa fa-trash-o"></span>&nbsp;{{ 'administration.actions.delete' | trans }}
                    </button>
                {% else %}
                    <span class="btn btn-danger disabled">
                        <span class="fa fa-trash-o"></span>&nbsp;{{ 'administration.actions.delete' | trans }}
                    </span>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content_action %}
