{% extends '@App/default/base.html.twig' %}

{% block title %}{{ 'default.network.list.title'|trans }} · {{ parent() }}{% endblock title %}

{% block headline %}
    <span class="fa fa-fw fa-sitemap"></span>
    {{ 'default.network.list.title'|trans }}
{% endblock %}

{% set direction = pagination.getDirection() %}

{% block content_content %}
    <table class="table">
        <thead>
        <tr>
            <th id="network-color">&nbsp;&nbsp;<span class="fa fa-network"></span></th>
            <th id="network-label">
                {% if pagination.isSorted('network.label') %}
                    <span class="fa fa-sort-alpha-{{ direction }}"></span>
                {% endif %}
                {{ knp_pagination_sortable(pagination, 'form.network.field.label' | trans, 'network.label')}}
            </th>
            <th id="network-address">
                {% if pagination.isSorted('network.mail') %}
                    <span class="fa fa-sort-alpha-{{ direction }}"></span>
                {% endif %}
                {{ knp_pagination_sortable(pagination, 'form.network.field.address' | trans, 'network.ip')}}
            </th>
            <th id="network-ips">{{ 'default.network.ips' | trans }}</th>
            <th id="network-actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for network in pagination %}
            <tr>
                <td headers="network-color" style="color: {{ '#' ~ network.color }}"><span class="fa fa-sitemap"></span></td>
                <td headers="network-label">{{ network.label }}</td>
                <td headers="network.address">{{ network.ip | network(network.mask) }}</td>
                <td headers="network.ips">{{ network.ips.count | localizednumber }} / {{ network.capacity | localizednumber }}</td>
                <td headers="network-actions">
                    <div class="btn-group-xs btn-group">
                        <a class="btn btn-default" href="{{ path('default_network_show', { 'id': network.id }) }}">
                            <span class="fa fa-eye"></span>
                            <span class="sr-only">{{ 'default.show' | trans }}</span>
                        </a>
                        <a class="btn btn-default" href="{{ path('default_network_edit', { 'id': network.id }) }}">
                            <span class="fa fa-edit"></span>
                            <span class="sr-only">{{ 'default.edit' | trans }}</span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-right">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock content_content %}

{% block content_action %}
    <div class="text-center">
        <a class="btn btn-default" href="{{ path('default_network_new') }}">
            <span class="fa fa-sitemap"></span>
            {{ 'default.network.create' | trans }}
        </a>
    </div>
{% endblock content_action %}
