{% extends 'default/base.html.twig' %}

{% import "macro.html.twig" as app_macro %}

{% block title %}{{ 'default.network.list.title'|trans }} · {{ parent() }}{% endblock title %}

{% block headline %}
    <span class="fa fa-fw fa-sitemap"></span>
    {{ 'default.network.list.title'|trans }}
{% endblock %}

{% set direction = pagination.getDirection() %}

{% block content_content %}
    <table class="table">
        <thead>
        <tr>
            <th id="network-color">&nbsp;&nbsp;<span class="fa fa-network"></span></th>
            <th id="network-label">
                {% if pagination.isSorted('network.label') %}
                    <span class="fa fa-sort-alpha-{{ direction }}"></span>
                {% else %}
                    <span class="fa fa-sitemap"></span>
                {% endif %}
                {{ knp_pagination_sortable(pagination, 'form.network.field.label' | trans, 'network.label')}}
            </th>
            <th id="network-address">
                {% if pagination.isSorted('network.ip') %}
                    <span class="fa fa-sort-numeric-{{ direction }}"></span>
                {% endif %}
                {{ knp_pagination_sortable(pagination, 'form.network.field.address' | trans, 'network.ip')}}
            </th>
            <th id="network-ips"><span class="fa fa-indent"></span> {{ 'default.network.ips' | trans }}</th>
            <th id="network-site">
              {% if pagination.isSorted('network.site.label') %}
                <span class="fa fa-sort-alpha-{{ direction }}"></span>
              {% endif %}
              {{ knp_pagination_sortable(pagination, 'default.network.site' | trans, 'site')}}
            </th>
            <th id="network-actions">{{ 'default.network.actions' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for row in pagination %}
            {% set network = row[0] %}
            <tr class="row-{{ loop.index }}">
              <td headers="network-color" style="color: {{ '#' ~ network.color }}"><span class="fa fa-sitemap"></span></td>
              <td headers="network-label" class="th-icon">{{ network.label }}</td>
              <td headers="network-address" class="th-icon">{{ network.ip | network(network.cidr) }}</td>
              <td headers="network-ips" class="th-icon">{{ row['ipsCount'] | localizednumber }} / {{ network.capacity | localizednumber }}</td>
              <td headers="network-site" class="th-icon">{{network.site.Label}}</td>
              <td headers="network-actions">
                  <div class="btn-group-xs btn-group">
                      <a class="btn btn-default" href="{{ path('default_network_show', { 'id': network.id }) }}">
                          <span class="fa fa-eye"></span>
                          <span class="sr-only">{{ 'default.action.show' | trans }}</span>
                      </a>
                      {% if can_edit(network) %}
                          <a class="btn btn-default" href="{{ path('default_network_edit', { 'id': network.id }) }}">
                              <span class="fa fa-edit"></span>
                              <span class="sr-only">{{ 'default.action.edit' | trans }}</span>
                          </a>
                      {% endif %}
                  </div>
              </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-right">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock content_content %}

{% block content_action %}
    {{ app_macro.panel_admin('sitemap', '', pagination.totalItemCount, 'default.networks') }}

    <div class="text-center">
        <div class="btn-group-vertical">
            {% if (sites|length) > 1 %}
                <a class="btn btn-default" href="{{ path('default_network_new') }}" data-toggle="tooltip" data-placement="left"
                   title="{{ 'default.network.action.list.title' | trans }}">
                    <span class="fa fa-sitemap"></span>
                    {{ 'default.network.create' | trans }}
                </a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-default" href="{{ path('default_deleted_network_index') }}" data-toggle="tooltip" data-placement="left"
                   title="{{ 'default.network.deleted.title' | trans }}">
                    <span class="fa fa-sitemap"></span>
                    {{ 'default.network.deleted' | trans }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock content_action %}
