{% extends '@App/default/base.html.twig' %}

{% set default_entity_show = 'default_network_show' %}

{% block title %}
    {{ 'default.network.show.title %name%'|trans({'%name%': network.label})}} · {{ parent() }}
{% endblock title %}

{% block headline %}
    {{ 'default.network.show.title %name%'|trans({'%name%': network.label})}}
{% endblock headline %}

{% block content_settings %}
    <div class="panel panel-primary" id="administration-global-information">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'administration.global-information' | trans }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-10">
                    <dl class="dl-horizontal">
                        <dt class="lead">{{ 'form.network.field.label'| trans }}</dt>
                        <dd class="lead">{{ network.label }}</dd>
                    </dl>
                </div>
                <div class="col-sm-2 text-right">
                    <p>
                        <span class="fa fa-sitemap fa-4x" style="color: {{ '#' ~ network.color }}"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>{{ 'form.network.field.address'| trans }}</dt>
                        <dd>{{ network.ip | network(network.cidr) }}</dd>
                        <dt>{{ 'form.network.field.min-ip'| trans }}</dt>
                        <dd>{{ network.minIp | ip }}</dd>
                        <dt>{{ 'form.network.field.max-ip'| trans }}</dt>
                        <dd>{{ network.maxIp | ip }}</dd>
                        <dt>{{ 'form.network.field.capacity'| trans }}</dt>
                        <dd>{{ network.capacity | localizednumber }}</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>{{ 'form.network.field.mask'| trans }}</dt>
                        <dd>{{ network.mask | ip }}</dd>
                        <dt>{{ 'form.network.field.wildcard'| trans }}</dt>
                        <dd>{{ network.wildcard | ip }}</dd>
                        <dt>{{ 'form.network.field.broadcast'| trans }}</dt>
                        <dd>{{ network.broadcast | ip }}</dd>
                        <dt>{{ 'form.network.field.creator'| trans }}</dt>
                        <dd>{{ network.creator.label }}</dd>
                    </dl>
                </div>
            </div>
            {% if network.description %}
                <p class="text-justify">
                    <em>{{ network.description }}</em>
                </p>
            {% endif %}
            {% if 0 == network.ips.count %}
                <div class="alert alert-info">
                    <p>{{ 'default.network.no.ip' | trans }}</p>
                </div>
            {% elseif network.space %}
                {{ progressbar(network.ips.count, network.capacity) }}
            {% else %}
                <div class="alert alert-warning">
                    <p>{{ 'default.network.no.space' | trans }}</p>
                </div>
            {% endif %}
            {% if network.space %}
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default" href="{{ path('default_network_new_ip', {'id': network.id}) }}"
                   data-toggle="tooltip" title="{{ 'default.network.new-ip.title' | trans }}">
                    <span class="fa fa-fw fa-indent"></span>
                    {{ 'default.network.new-ip.link' | trans }}
                </a>
                <a class="btn btn-default" href="{{ path('default_network_new_machine', {'id': network.id}) }}"
                   data-toggle="tooltip" title="{{ 'default.network.new-machine.title' | trans }}">
                    <span class="fa fa-fw fa-indent"></span>
                    <span class="fa fa-fw fa-plus"></span>
                    <span class="fa fa-fw fa-desktop"></span>
                    {{ 'default.network.new-machine.link' | trans }}
                </a>
            </div>
            {% endif %}
        </div>
        {% if network.ips.count %}
        <table class="table">
            <thead>
                <tr>
                    <th id="network-ip-ip">
                        <span class="fa fa-indent fa-fw"></span>
                        {{ 'form.ip.field.ip' | trans }}
                    </th>
                    <th id="network-ip-machine-label">
                        <span class="fa fa-desktop fa-fw"></span>
                        {{ 'form.ip.field.machine' | trans }}
                    </th>
                    <th id="network-ip-machine-tags">
                        <span class="fa fa-tags fa-fw"></span>
                        {{ 'form.machine.field.tags' | trans }}
                    </th>
                    <th id="network-ip-actions">
                        {{ 'default.network.actions' | trans }}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for ip in network.ips %}
                <tr>
                    <td headers="network-ip-ip">
                        <a href="{{ path('default_ip_show', {'id': ip.id}) }}" title="{{ ip.ip | ip }}">
                            {{ ip.ip | ip }}
                        </a>
                    </td>
                    <td headers="network-ip-machine-label">
                        {%- if ip.machine -%}
                            <a href="{{ path('default_machine_show', {'id': ip.machine.id}) }}" title="{{ ip.machine.label }}">{{ ip.machine.label }}</a>
                        {%- else -%}
                            <em>{{ 'default.machine.none' | trans }}</em>
                        {%- endif -%}
                    </td>
                    <td headers="network-ip-machine-tags">@TODO</td>
                    <td headers="network-ip-actions">
                        <div class="btn-group btn-group-sm" role="group" aria-label="{{ 'default.ip.manage %ip%' | trans({'%ip%': ip.ip | ip}) }}">
                            <a href="{{ path('default_ip_edit', {'id': ip.id}) }}" data-toggle="tooltip" title="{{ 'default.ip.action.edit' | trans }}" class="btn btn-info">
                                <span class="fa fa-pencil"></span>
                                <span class="sr-only">{{ 'default.action.edit' | trans }}</span>
                            </a>
                            {% if ip.machine %}
                                <a href="{{ path ('default_network_unlink', {'id': ip.id}) }}" data-toggle="tooltip" title="{{ 'default.ip.action.dissociate' | trans }}" class="btn btn-warning ">
                                    <span class="fa fa-unlink"></span>
                                    <span class="sr-only">{{ 'default.ip.action.dissociate' | trans }}</span>
                                </a>
                            {% else %}
                                <a href="{{ path ('default_network_link', {'id':ip.id}) }}" data-toggle="tooltip" title="{{ 'default.ip.action.associate' | trans }}" class="btn btn-info">
                                    <span class="fa fa-link"></span>
                                    <span class="sr-only">{{ 'default.ip.action.associate' | trans }}</span>
                                </a>
                                <button href="#" data-toggle="tooltip" title="{{ 'default.ip.action.create' | trans }}" class="btn btn-info">
                                    <span class="fa fa-plus"></span>
                                    <span class="sr-only">{{ 'default.ip.action.create' | trans }}</span>
                                </button>
                            {% endif %}
                            <button href="#" data-toggle="tooltip" title="{{ 'default.ip.action.delete' | trans }}" class="btn btn-danger">
                                <span class="fa fa-trash-o"></span>
                                <span class="sr-only">{{ 'default.ip.action.delete' | trans }}</span>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock content_settings %}

{% block content_action %}
    <h3>{{ 'administration.actions' | trans }}</h3>

    <div class="text-center" id="default-actions">
        <div class="btn-group-vertical">
            <a class="btn-mini btn btn-default" href="{{ path('default_network_index') }}">
                <span class="fa fa-sitemap"></span>&nbsp;{{ 'network.actions.back.list' | trans }}
            </a>
            <a class="btn-mini btn btn-default" href="{{ path('default_network_edit', { 'id': network.id }) }}">
                <span class="fa fa-pencil"></span>&nbsp;{{ 'administration.actions.edit' | trans }}
            </a>
            {% if isDeletable %}
                <a class="btn btn-danger btn-mini confirm-delete" data-toggle="modal" data-target="#confirm-delete" data-form="form" href="#">
                    <span class="fa fa-trash-o"></span>&nbsp;{{ 'administration.actions.delete' | trans }}
                </a>
            {% else %}
                <span class="btn btn-danger disabled">
            <span class="fa fa-trash-o"></span>&nbsp;{{ 'administration.actions.delete' | trans }}
        </span>
            {% endif %}
        </div>
    </div>
{% endblock content_action %}
