{% extends '@App/default/base.html.twig' %}

{% import "@App/macro.html.twig" as app_macro %}

{% set default_entity_show = 'default_network_show' %}

{% block title %}
    {{ 'default.network.show.title %name%'|trans({'%name%': network.label})}} · {{ parent() }}
{% endblock title %}

{% block headline %}
    {{ 'default.network.show.title %name%'|trans({'%name%': network.label})}}
{% endblock headline %}

{% block content_settings %}
    <div class="panel panel-primary" id="administration-global-information">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'administration.global-information' | trans }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-10">
                    <div class="col-xs-12">
                        {{ app_macro.dl_network(network, false) }}
                    </div>
                </div>
                <div class="col-sm-2 text-right">
                    <p>
                        <span class="fa fa-sitemap fa-4x" style="color: {{ '#' ~ network.color }}"></span>
                    </p>
                </div>
            </div>
            {% if network.description %}
                <p class="text-justify">
                    <em>{{ network.description }}</em>
                </p>
            {% endif %}
            {% if 0 == network.ips.count %}
                <div class="alert alert-info">
                    <p>{{ 'default.network.no.ip' | trans }}</p>
                </div>
            {% elseif network.space %}
                {{ progressbar(network.ips.count, network.capacity) }}
            {% else %}
                <div class="alert alert-warning">
                    <p>{{ 'default.network.no.space' | trans }}</p>
                </div>
            {% endif %}
            {% if (is_granted('ROLE_MANAGE_IP') or is_granted('ROLE_MANAGE_MACHINE')) and network.space %}
                <div class="btn-group btn-group-justified">
                    {% if is_granted('ROLE_MANAGE_IP') %}
                        <a class="btn btn-default" href="{{ path('default_network_new_ip', {'id': network.id}) }}"
                           data-toggle="tooltip" title="{{ 'default.network.new-ip.title' | trans }}">
                            <span class="fa fa-fw fa-indent"></span>
                            {{ 'default.network.new-ip.link' | trans }}
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGE_IP') and is_granted('ROLE_MANAGE_MACHINE') %}
                        <a class="btn btn-default" href="{{ path('default_network_new_ip_machine', {'id': network.id}) }}"
                           data-toggle="tooltip" title="{{ 'default.network.new-ip-machine.title' | trans }}">
                            <span class="fa fa-fw fa-indent"></span>
                            <span class="fa fa-fw fa-plus"></span>
                            <span class="fa fa-fw fa-desktop"></span>
                            {{ 'default.network.new-ip-machine.link' | trans }}
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGE_IP') %}
                        <a class="btn btn-default" href="{{ path('default_network_new_plage', {'id': network.id}) }}"
                           data-toggle="tooltip" title="{{ 'default.network.new-plage.title' | trans }}">
                            <span class="fa fa-fw fa-indent"></span>
                            {{ 'default.network.new-plage.link' | trans }}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% if network.ips.count %}
        <table class="table">
            <thead>
                <tr>
                    <th id="network-ip-ip">
                        <span class="fa fa-indent fa-fw"></span>
                        {{ 'form.ip.field.ip' | trans }}
                        <span class="fa fa-sort-numeric-asc fa-fw"></span>
                    </th>
                    <th id="network-ip-machine-label">
                        <span class="fa fa-desktop fa-fw"></span>
                        {{ 'form.ip.field.machine' | trans }}
                    </th>
                    <th id="network-ip-machine-tags">
                        <span class="fa fa-tags fa-fw"></span>
                        {{ 'form.machine.field.tags' | trans }}
                    </th>
                    {% if is_granted('ROLE_MANAGE_IP') or is_granted('ROLE_MANAGE_MACHINE') %}
                        <th id="network-ip-actions">
                            {{ 'default.network.actions' | trans }}
                        </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for ip in network.ips %}
                <tr>
                    <td headers="network-ip-ip">
                        <a href="{{ path('default_ip_show', {'id': ip.id}) }}" title="{{ ip.ip | ip }}">
                            {{ ip.ip | ip }}
                        </a>
                    </td>
                    <td headers="network-ip-machine-label">
                        {%- if ip.machine -%}
                            <a href="{{ path('default_machine_show', {'id': ip.machine.id}) }}" title="{{ ip.machine.label }}">{{ ip.machine.label }}</a>
                        {%- else -%}
                            <em>{{ 'default.machine.none' | trans }}</em>
                        {%- endif -%}
                    </td>
                    <td headers="network-ip-machine-tags">
                        {% if ip.machine %}
                            {% for tag in ip.machine.tags %}
                                <span class="label label-default">
                                    <span class="fa fa-tag"></span>
                                    {{ tag }}
                                </span>&nbsp;
                            {% endfor %}
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_MANAGE_IP') and is_granted('ROLE_MANAGE_MACHINE') %}
                        <td headers="network-ip-actions">
                            <div class="btn-group btn-group-sm" role="group" aria-label="{{ 'default.ip.manage %ip%' | trans({'%ip%': ip.ip | ip}) }}">
                                {% if is_granted('ROLE_MANAGE_IP') %}
                                    <a href="{{ path('default_ip_edit', {'id': ip.id}) }}" data-toggle="tooltip" title="{{ 'default.ip.action.edit.title' | trans }}" class="btn btn-info">
                                        <span class="fa fa-pencil"></span>
                                        <span class="sr-only">{{ 'default.ip.action.edit' | trans }}</span>
                                    </a>
                                {% endif %}
                                {% if ip.machine %}
                                    {% if is_granted('ROLE_MANAGE_IP') and is_granted('ROLE_MANAGE_MACHINE') %}
                                        <a href="{{ path ('default_network_unlink', {'id': ip.id}) }}" data-toggle="tooltip" title="{{ 'default.ip.action.dissociate.title' | trans }}" class="btn btn-warning ">
                                            <span class="fa fa-unlink"></span>
                                            <span class="sr-only">{{ 'default.ip.action.dissociate' | trans }}</span>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    {% if is_granted('ROLE_MANAGE_IP') and is_granted('ROLE_MANAGE_MACHINE') %}
                                        <a href="{{ path ('default_network_link', {'id':ip.id}) }}" data-toggle="tooltip" title="{{ 'default.ip.action.associate.title' | trans }}" class="btn btn-info">
                                            <span class="fa fa-link"></span>
                                            <span class="sr-only">{{ 'default.ip.action.associate' | trans }}</span>
                                        </a>
                                    {% endif %}
                                    {% if is_granted('ROLE_MANAGE_MACHINE') %}
                                        <a href="{{ path ('default_network_new_machine', {'id':ip.id}) }}" data-toggle="tooltip" title="{{ 'default.ip.action.create.title' | trans }}" class="btn btn-info">
                                            <span class="fa fa-plus"></span>
                                            <span class="sr-only">{{ 'default.ip.action.create' | trans }}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_IP') %}
                                    <a href="{{ path ('default_network_delete_ip', {'id':ip.id}) }}" data-toggle="tooltip" title="{{ 'default.ip.action.delete.title' | trans }}" class="btn btn-danger">
                                        <span class="fa fa-trash-o"></span>
                                        <span class="sr-only">{{ 'default.ip.action.delete' | trans }}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if network.plages.count %}
        <table class="table">
            <thead>
                <tr>
                <th id="site-ip-machine-label">
                    <span class="fa fa-sitemap fa-fw"></span>
                    {{ 'form.plage.field.label' | trans }}
                </th>
                <th id="plage-reason">
                      {{ 'form.plage.field.reason' | trans }}
                </th>
                    <th id="plage-ip-ipdeb">
                        <span class="fa fa-indent fa-fw"></span>
                        {{ 'form.plage.field.ipdeb' | trans }}
                        <span class="fa fa-sort-numeric-asc fa-fw"></span>
                    </th>
                    <th id="plage-ip-ipfin">
                        <span class="fa fa-indent fa-fw"></span>
                        {{ 'form.plage.field.ipfin' | trans }}
                        <span class="fa fa-sort-numeric-asc fa-fw"></span>
                    </th>
                    {% if is_granted('ROLE_MANAGE_IP') or is_granted('ROLE_MANAGE_MACHINE') %}
                        <th id="network-ip-actions">
                            {{ 'default.network.actions' | trans }}
                        </th>
                    {% endif %}
                    <th
                </tr>
            </thead>
            <tbody>
                {% for plage in network.plages %}
                <tr>
                <td headers="network-plage-label">
                    {%- if plage -%}
                        <a href="{{ path('default_plage_show', {'id': plage.id}) }}" title="{{ plage.label }}">{{ plage.label }}</a>
                    {%- else -%}
                        <em>{{ 'default.machine.none' | trans }}</em>
                    {%- endif -%}
                </td>
                <td headers="network-plage-reason">
                  <dd>{{plage.reason}}</dd>
                </td>
                    <td headers="network-plage-ipdeb">
                      <dd>{{ plage.start | ip }}</dd>
                    </td>
                    <td headers="network-plage-ipfin">
                      <dd>{{ plage.end | ip }}</dd>
                    </td>
                    {% if is_granted('ROLE_MANAGE_IP') and is_granted('ROLE_MANAGE_MACHINE') %}
                        <td headers="network-ip-actions">
                            <div class="btn-group btn-group-sm" role="group" aria-label="{{ 'default.plage.manage %plage%' | trans({'%plage%': plage.label}) }}">
                                {% if is_granted('ROLE_MANAGE_IP') %}
                                    <a href="{{ path('default_plage_edit', {'id': plage.id}) }}" data-toggle="tooltip" title="{{ 'default.plage.action.edit.title' | trans }}" class="btn btn-info">
                                        <span class="fa fa-pencil"></span>
                                        <span class="sr-only">{{ 'default.ip.action.edit' | trans }}</span>
                                    </a>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_IP') %}
                                    <a href="{{ path ('default_network_delete_plage', {'id':plage.id}) }}" data-toggle="tooltip" title="{{ 'default.plage.action.delete.title' | trans }}" class="btn btn-danger">
                                        <span class="fa fa-trash-o"></span>
                                        <span class="sr-only">{{ 'default.plage.action.delete' | trans }}</span>
                                    </a>
                                {% endif %}
                              </div>
                          </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <div class="panel-body">
            {#<img src="{{ asset('images/noir.png') }}" width="100%"/>#}
            {#<img src="{{asset('/network/matrice')}}"/>#}
            {#<img src="/network/matrice"/>#}
            <img src="{{path('default_network_matrice', {'network': network.id})}}"  alt="Matrice" width="100%" height="100"/>
            {#<img src="{{render(controller('App\\Controller\\NetworkController::matriceAction',{'network' : network}))}}" />#}
        </div>
    </div>
{% endblock content_settings %}

{% block content_action %}
    <h3>{{ 'administration.actions' | trans }}</h3>

    <div class="text-center" id="default-actions">
        <div class="btn-group-vertical">
            <a class="btn-mini btn btn-default" href="{{ path('default_network_index') }}"
               data-placement="left" data-toggle="tooltip" title="{{ 'default.network.action.list.title' | trans }}">
                <span class="fa fa-sitemap"></span>&nbsp;{{ 'network.actions.back.list' | trans }}
            </a>
            {% if is_granted('ROLE_MANAGE_NETWORK') %}
                <a class="btn-mini btn btn-default" href="{{ path('default_network_edit', { 'id': network.id }) }}"
                   data-placement="left" data-toggle="tooltip" title="{{ 'default.network.action.edit.title' | trans }}">
                    <span class="fa fa-pencil"></span>&nbsp;{{ 'administration.actions.edit' | trans }}
                </a>
                {% if isDeletable %}
                    <button class="btn btn-danger btn-mini confirm-delete" data-toggle="modal" data-target="#confirm-delete"
                       data-form="form" data-placement="left" title="{{ 'default.network.action.delete.title' | trans }}">
                        <span class="fa fa-trash-o"></span>&nbsp;{{ 'administration.actions.delete' | trans }}
                    </button>
                {% else %}
                    <span class="btn btn-danger disabled">
                        <span class="fa fa-trash-o"></span>&nbsp;{{ 'administration.actions.delete' | trans }}
                    </span>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content_action %}
