{% extends 'base.html.twig' %}

{% set administration_entity_show = 'default_network_show' %}

{% block title %}{{ 'default.ip.link.title %ip%'|trans({'%ip%':ip.ip|ip})}} · {{ parent() }}{% endblock title %}

{% block page_header %}{% endblock %}

{% block content_row %}
    {{ form_start(link_form) }}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'default.action.link' | trans }}</h1>
                </div>
                <div class="panel-body">
                    <p>{{ 'default.ip.link.title %ip%'|trans({'%ip%':ip.ip|ip})}}</p>
                </div>
                <table class="table table-condensed">
                    <tr>
                        <th id="label">
                            <span class="fa fa-fw fa-desktop"></span>
                            {{ 'form.ip.field.machine' | trans }}
                        </th>
                        <th id="referent">
                            <span class="fa fa-fw fa-user"></span>
                            {{ 'form.ip.field.creator' | trans }}
                        </th>
                        <th id="submit">
                            <span class="fa fa-fw fa-link"></span>
                            {{ 'default.action.link' | trans }}
                        </th>
                    </tr>
                    {% for machine in machines %}
                        <tr class="{% if machine.creator and machine.creator.label == app.user.label %}success{% else %}alert{% endif %}">
                            <td headers="label" class="th-icon">{{ machine.label }}</td>
                            <td headers="referent" class="th-icon">{{ machine.creator | label }}</td>
                            <td headers="submit" class="th-icon">
                                <button type="submit" id="form_{{ machine.id }}" name="form[{{ machine.id }}]" class="btn btn-default btn-xs">
                                    <span class="fa fa-link"></span>
                                    <span class="sr-only">{{ 'default.action.link' | trans }}</span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {{ form_end(link_form) }}
{% endblock content_row %}
