{% extends 'default/base.html.twig' %}

{% block title %}{{ 'default.network.new-machine.title %ip%'|trans({'%ip%': ip.ip | ip}) }} · {{ parent() }}{% endblock title %}

{% block page_header %}{% endblock %}

{% block content_content %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">{{ 'default.network.new-machine.title %ip%'|trans({'%ip%': ip.ip | ip}) }}</h1>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            <div  class="form-group">
                <label for="app_machine_ip" class="control-label col-sm-3 required">
                    {{ 'form.ip.field.ip' | trans }}
                </label>
                <div class="col-sm-9">
                    <p class="form-control-static"><strong>{{ ip.ip | ip }}</strong></p>
                </div>
            </div>
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input class="btn btn-primary" type="submit" value="{{ 'machine.actions.create-and-associate' | trans }}" />
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock content_content %}

{% block content_action %}
    <h3>{{ 'administration.actions' | trans }}</h3>
    <div class="text-center" id="default-actions">
        <div class="btn-group-vertical">
            <a class="btn-mini btn btn-default" href="{{ path('default_machine_index') }}">
                <span class="fa fa-desktop"></span>&nbsp;{{ 'machine.actions.back.list' | trans }}
            </a>
        </div>
    </div>
{% endblock content_action %}
