
{% macro dl_machine(machine, link = true) %}
    {# Macro to write a definition list #}
    {% import _self as self_macro %}

    {% set nbmacs = machine.macs|split("\n")|length %}
    {% set nbservices = machine.services|length %}

    <dl class="dl-horizontal">
        <dt class="lead">{{ 'form.machine.field.label'| trans }}</dt>
        {% if link %}
            <dd class="lead">
                <a  href="{{ path('default_machine_show',{'id': machine.id}) }}" data-toggle="tooltip"
                    title="{{ 'link.machine.show' | trans }}" data-placement="right">
                    {{ machine.label }}
                </a>
            </dd>
        {% else %}
            <dd class="lead">{{ machine.label }}</dd>
        {% endif %}
        <dt>{{ 'form.machine.field.interface'| trans }}</dt>
        <dd>{{ machine.interface }}</dd>
            {% for i in 0..(nbmacs - 1)%}
                <dt>&nbsp</dt>
                <dd>&nbsp</dd>
            {% endfor %}
        <dt>{{ 'form.machine.field.location'| trans }}</dt>
        <dd>{{ machine.location }}</dd>
        <dt>{{ 'form.machine.field.description'| trans }}</dt>
        <dd>{{ machine.description }}</dd>
        <dt>{{ 'form.machine.field.services'| trans }}</dt>
            {% for service in machine.services%}
                <dd> {{ service.label }}</dd>
            {% else %}
                <dd>{{ 'form.machine.field.services.none' | trans }}</dd>
            {% endfor %}

        <dt>{{ 'form.machine.field.creator'| trans }}</dt>
        <dd>{{ machine.creator | label }}</dd>
        <dt>{{ 'form.machine.field.tags'| trans }}</dt>
        <dd>
            {{ self_macro.tags(machine.tags) }}
        </dd>
    </dl>
{% endmacro %}

{% macro dl_site(site, link = true) %}
    {# Macro to write a definition list #}
    {% import _self as self_macro %}
    <dl class="dl-horizontal">
        <dt class="lead">{{ 'form.site.field.label'| trans }}</dt>
        {% if link %}
            <dd class="lead">
                <a  href="{{ path('default_site_show',{'id': site.id}) }}" data-toggle="tooltip"
                    title="{{ 'link.site.show' | trans }}" data-placement="right">
                    {{ site.label }}
                </a>
            </dd>
        {% else %}
            <dd class="lead">{{ site.label }}</dd>
        {% endif %}
        <dt>{{ 'form.site.field.creator'| trans }}</dt>
        <dd>{{ site.creator | label }}</dd>
    </dl>
{% endmacro %}

{% macro dl_network(network, link = true) %}
    <dl class="dl-horizontal">
        <dt class="lead">{{ 'form.network.field.network'| trans }}</dt>
        {% if link %}
            <dd class="lead">
                <a  href="{{ path('default_network_show',{'id': network.id}) }}" data-toggle="tooltip"
                   title="{{ 'link.network.show' | trans }}" data-placement="right">
                    {{ network.label }}
                </a>
            </dd>
        {% else %}
            <dd class="lead">{{ network.label }}</dd>
        {% endif %}
    </dl>
    <div class="row">
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt>{{ 'form.network.field.address'| trans }}</dt>
                <dd>{{ network.ip | network(network.cidr) }}</dd>
                <dt>{{ 'form.network.field.min-ip'| trans }}</dt>
                <dd>{{ network.minIp | ip }}</dd>
                <dt>{{ 'form.network.field.max-ip'| trans }}</dt>
                <dd>{{ network.maxIp | ip }}</dd>
                <dt>{{ 'form.network.field.capacity'| trans }}</dt>
                <dd>{{ network.capacity | localizednumber }}</dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt>{{ 'form.network.field.mask'| trans }}</dt>
                <dd>{{ network.mask | ip }}</dd>
                <dt>{{ 'form.network.field.wildcard'| trans }}</dt>
                <dd>{{ network.wildcard | ip }}</dd>
                <dt>{{ 'form.network.field.broadcast'| trans }}</dt>
                <dd>{{ network.broadcast | ip }}</dd>
                <dt>{{ 'form.network.field.creator'| trans }}</dt>
                <dd>{{ network.creator | label }}</dd>
            </dl>
        </div>
    </div>
{% endmacro %}

{% macro dl_service(service, link = true) %}
    {# Macro to write a definition list #}
    {% import _self as self_macro %}
    <dl class="dl-horizontal">
        <dt class="lead">{{ 'form.service.field.label'| trans }}</dt>
        {% if link %}
            <dd class="lead">
                <a  href="{{ path('default_service_show',{'id': service.id}) }}" data-toggle="tooltip"
                    title="{{ 'link.service.show' | trans }}" data-placement="right">
                    {{ service.label }}
                </a>
            </dd>
        {% else %}
            <dd class="lead">{{ service.label }}</dd>
        {% endif %}
        <dt>{{ 'form.service.field.creator'| trans }}</dt>
        <dd>{{ service.creator | label }}</dd>
    </dl>
{% endmacro %}

{% macro dl_ip(ip, link = true) %}
    <dl class="dl-horizontal">
        <dt class="lead">{{ 'form.ip.field.ip'| trans }}</dt>
        {% if link %}
            <dd class="lead">
                <a  href="{{ path('default_ip_show',{'id': ip.id}) }}" data-toggle="tooltip"
                    title="{{ 'link.ip.show' | trans }}" data-placement="right">
                    {{ ip.ip | ip }}
                </a>
            </dd>
        {% else %}
            <dd class="lead">{{ ip.ip | ip }}</dd>
        {% endif %}
        <dt>{{ 'form.ip.field.reason'| trans }}</dt>
        <dd>{{ ip.reason }}</dd>
        <dt>{{ 'form.ip.field.creator'| trans }}</dt>
        <dd>{{ ip.creator | label }}</dd>
    </dl>
{% endmacro %}

{% macro dl_plage(plage, link = true) %}
    <dl class="dl-horizontal">
        <dt class="lead">{{ 'form.plage.field.plage'| trans }}</dt>
        {% if link %}
            <dd class="lead">
                <a  href="{{ path('default_plage_show',{'id': plage.id}) }}" data-toggle="tooltip"
                    title="{{ 'link.plage.show' | trans }}" data-placement="right">
                    {{ ip.ip | ip }}
                </a>
            </dd>
        {% else %}
            <dd class="lead">{{ plage.label }}</dd>
        {% endif %}
        <dt>{{ 'form.plage.field.ipdeb'| trans }}</dt>
        <dd>{{ plage.start | ip }}</dd>
        <dt>{{ 'form.plage.field.ipfin'| trans }}</dt>
        <dd>{{ plage.end | ip }}</dd>
        <dt>{{ 'form.plage.field.reason'| trans }}</dt>
        <dd>{{ plage.reason }}</dd>
        <dt>{{ 'form.plage.field.creator'| trans }}</dt>
        <dd>{{ plage.creator | label }}</dd>
    </dl>
{% endmacro %}

{% macro tags(tags) %}
    {% set alreadyTagged = [] %}
    {% for tag in tags %}
        {% if tag | length and tag not in alreadyTagged %}
            <span class="label label-default">
                <span class="fa fa-tag"></span>
                {{ tag }}
            </span>&nbsp;
            {% set alreadyTagged = alreadyTagged|merge([tag]) %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro mac(machine, link = true) %}

    {% import _self as self_macro %}

    {% set nbmacs = machine.macs|split("\n")|length %}
    <dl class="dl-horizontal">
        <dt class="lead">&nbsp</dt>
        {% if link %}
            <dd class="lead">
                MAC
            </dd>
        {% else %}
            <dd class="lead">&nbsp</dd>
        {% endif %}

        {% for i in 0..(nbmacs - 1) %}
            <dt>{{ 'form.machine.field.macs'| trans }}{{i+1}} </dt>
        {% endfor %}
        <dd>{{ machine.macs | nl2br }}</dd>
    </dl>
{% endmacro %}

{% macro panel_admin(icon, path, quantity, text, type = 'panel-primary') %}
    <div class="panel {{ type }}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-{{ icon }} fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ quantity | localizednumber }}</div>
                    <div>{{ text | trans }}</div>
                </div>
            </div>
        </div>
        {% if path is defined and path is not empty %}
          <a href="{{ path(path) }}">
              <div class="panel-footer">
                  <span class="pull-left">{{ 'txt.details' | trans }}</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
          {% endif %}
    </div>
{% endmacro %}
